.recipes-chef{
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
}
.section-title h1{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media only screen and (max-width: 576px){
        .recipes-chef{
                display: grid;
                grid-template-columns: 1fr;
        }
      }